h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  margin: 30px 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-top: 1em;
}

h3, h4 {
  margin-top: 1em;
}


p {
  font-size: 0.8rem;
}

.tab-content ul {
  font-size: 0.8rem;
}

section {
  padding: 30px 0;
}

.white {
  color: $white;
}

.icon-bv {
  width: 80px;
  margin-right: 15px;
  @include media-breakpoint-down(sm) {
    width: 60px;
  }
}

.service{
  min-height: 80px;
  overflow: auto;
  position: relative;
  max-width: 300px;

  span.option{
    text-transform: uppercase;
    padding: 2px 6px;
    border: 1px solid $black;
    border-radius: 24px;
    font-size: 0.4em;
    margin-bottom: 5px;
    display: block;
    width: 40px;
    text-align: center;
    font-weight: 600;
  }

  p {
    @include vertical-align(absolute);
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    min-height: 60px;
  }

}

// Button

.btn-bv {
  &:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: $bv-color;
    margin-right: 15px;
    position: relative;
    bottom: 4px;
    margin-left: -60px;
  }
}

.btn-bv, .link-bv {
  font-weight: 600;
  color: $bv-color;
  text-transform: uppercase;
  font-size: 0.9rem;
}

// Input

.form-control {
  border-bottom: 1px solid $gray;
}

.input-group-text{
  border-bottom: 1px solid $gray;
}

label{
  font-size: 0.8rem;
  margin-bottom: 0;
}
