// Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;

// Colors
$black : #000 !default;
$bv-color: #4A90E2;
$bv-color-alternative: #8B572A;

// Mixins
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Spacer
$spacer-bv : 150px;
