// Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;
$input-border-radius : 0;

// Nav
$navbar-nav-link-padding-x : 1.5rem;
$navbar-nav-link-padding-x : 1.5rem;
$nav-link-padding-x : 1.5rem;
$nav-link-padding-y : 1.5rem;

// Form
$input-border-width: 0;
$input-padding-x : 0.75em;
$input-padding-y : 0.75em;
$form-group-margin-bottom: 1.5rem;

// Modal

$modal-content-border-radius : 0;
$modal-content-border-width : 0;

// Colors
$black : #000 !default;
$bv-color: #4A90E2;
$bv-color-alternative: #8B572A;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Spacer
$spacer-bv : 150px;
