@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Playfair+Display:400,700');

@import "./mixins.scss";
@import "../libs/boostrap/scss/bootstrap.scss";
@import "./retina.scss";
@import "./global.scss";


$spacer : 150px;

.nav-sticky {
  width: $spacer;
  text-align: center;
}

.spacer {
  width: $spacer;
}

// Top section

.villa{
  min-height: 400px;
  height: 80vh;
  max-height: 640px;

  @include retina('../images/villa.png', 2, cover, center center no-repeat);
}

.big-title {
  background-color: $white;
  padding: 0 30px;
  width: 270px;
}

.discover{
  background-color: $white;
}

.img-inside {
  position: relative;
  bottom: 80px;
}

.section-inner {
  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }
}

// Sections

.inside-villa, .services, .price-section{
  padding: 60px 90px 75px;
  @include media-breakpoint-down(md) {
    padding: 60px 30px;
  }
}

// Villa and services sections

.inside-villa {
  background: $bv-color-alternative;
  @include retina('../images/inside-villa-bg.png', 2, cover, center center no-repeat);
}

// Price section

.price-section {
  background: $bv-color;
  @include retina('../images/price-bg.png', 2, cover, center center no-repeat);
}

.block-price {
  background-color: $white;
  padding: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.date-booking {
  font-size: 1rem;
  color: $bv-color;
  font-weight: 600;
  margin-top: 30px;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  small{
    font-size: 1rem;
    display: block;
  }
}
