@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Playfair+Display:400,700');

@import "./mixins.scss";
@import "./retina.scss";

@import "../libs/boostrap/scss/bootstrap.scss";

$spacer : 150px;

body {
  // background: #E7E7E7;
}

h1 {
  font-family: 'Playfair Display', serif;
  margin: 30px 0 20px;
  font-size: 2rem;
}

p {
  font-size: 0.8rem;
}

section {
  padding: 30px 0;
}

.navfix {
  width: $spacer;
  text-align: center;
}

.white {
  color: $white;
}

.spacer {
  width: $spacer;
}

.villa{
  min-height: 400px;
  height: 80vh;
  max-height: 640px;

  @include retina('../images/villa.png', 2, cover, center center no-repeat);
}

.big-title {
  background-color: $white;
  padding: 0 30px;
  width: 270px;
}

.discover{
  background-color: $white;
}

.icon-bv {
  width: 80px;
}
