#Booking.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "ModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5#ModalLabel.modal-title Demande de réservation
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid

          %form.row{:action => "https://getsimpleform.com/messages?form_api_token=461f7854117b75a3f540ef9a88b513e2", :method => "post", :enctype => "multipart/form-data"}

            %input{:name => "redirect_to", :type => "hidden", :value => "https://www.baiyok-villa.com/#thank-you"}/
            %input{:name => "_folder", :type => "hidden", :value => "quotes"}/
            %input{:name => "_spam", :type => "hidden", :value => "message"}/

            .col
              .form-group
                %label{:for => "CheckIn"} Début de séjour
                #datetimepicker7.input-group.date{"data-target-input" => "nearest"}
                  %input.form-control.datetimepicker-input#CheckIn{:name => "Check in", :placeholder => "jj/mm/aaaa", "data-target" => "#datetimepicker7", "data-toggle" => "datetimepicker", :type => "text", :required => ""}/
                  .input-group-append{"data-target" => "#datetimepicker7", "data-toggle" => "datetimepicker"}
                    .input-group-text
                      %i.fa.fa-calendar
            .col
              .form-group
                %label{:for => "CheckOut"} Fin de séjour
                #datetimepicker8.input-group.date{"data-target-input" => "nearest"}
                  %input.form-control.datetimepicker-input#CheckOut{:name => "Check out", :placeholder => "jj/mm/aaaa", "data-target" => "#datetimepicker8", "data-toggle" => "datetimepicker", :type => "text", :required => ""}/
                  .input-group-append{"data-target" => "#datetimepicker8", "data-toggle" => "datetimepicker"}
                    .input-group-text
                      %i.fa.fa-calendar

            .w-100

            .col
              .form-group
                %input.form-control{:name => "Name", :placeholder => "Prénom", :type => "text", :required => ""}/

            .col
              .form-group
                %input.form-control{:name => "Last name", :placeholder => "Nom", :type => "text", :required => ""}/

            .w-100

            .col
              .form-group
                %input.form-control{:name => "Phone", :placeholder => "Téléphone", :type => "phone", :required => ""}/

            .col
              .form-group
                %input.form-control{:name => "Email", :placeholder => "Email", :type => "email", :required => ""}/

            .w-100

            .col
              .form-group
                %select.form-control{:name => "People", :required => ""}
                  %option{:disabled => "", :selected => "selected", :value => ""} Nombre de personne
                  %option{:value => "1"} 1
                  %option{:value => "2"} 2
                  %option{:value => "3"} 3
                  %option{:value => "4"} 4
                  %option{:value => "5"} 5
                  %option{:value => "6"} 6
                  %option{:value => "7"} 7
                  %option{:value => "8"} 8

            .w-100

            .col
              .form-group
                %textarea.form-control{:name => "Message", :placeholder => "Informations supplémentaires", :rows => "3"}

              %button.btn.btn-link.btn-bv{:type => "Submit"} Envoyer
