.container
  .col-md-12
    %h1 Footer

%script{:type => "text/javascript", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
