%section#contact

  %h1.text-center Nous contacter

  .row
    .col-md-7.offset-md-2

      %form.form-bv{:action => "https://getsimpleform.com/messages?form_api_token=461f7854117b75a3f540ef9a88b513e2", :method => "post", :enctype => "multipart/form-data"}

        %input{:name => "redirect_to", :type => "hidden", :value => "https://www.baiyok-villa.com/#thank-you"}/
        %input{:name => "_folder", :type => "hidden", :value => "quotes"}/
        %input{:name => "_spam", :type => "hidden", :value => "message"}/

        .row
          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group
              %input.form-control{:name => "Name", :placeholder => "Prénom", :type => "text", :required => ""}/

          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group
              %input.form-control{:name => "Last name", :placeholder => "Nom", :type => "text", :required => ""}/

        .form-group
          %input.form-control{:name => "Mail", :placeholder => "Email", :type => "email", :required => ""}/

        .form-group
          %textarea.form-control{:name => "Message", :placeholder => "Message", :rows => "3"}

        %button.btn.btn-link.btn-bv{:type => "Submit"} Envoyer

    .col-md-3

  .row

    .col-md-5.offset-md-5

      .informations

        %p
          %img.float-left{:src => image_path('map.svg')}/
          %span 40- 47/1, Hasib Pee Road, Patong, Kathu, Phuket, 83000 Plage de Patong
        %p
          %img.float-left{:src => image_path('envelope.svg')}/
          %a{:href => "mailto:richard.rigault@gmail.com"} richard.rigault@gmail.com

    .col-md-2
