%section#form

  %h1.text-center Nous contacter

  .row
    .col-md-7.offset-md-2
      %form.form-bv
        .row
          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group
              %input.form-control{:placeholder => "Nom", :type => "text"}/

          .col-12.col-sm-6.col-md-12.col-lg-12.col-xl-6
            .form-group
              %input.form-control{:placeholder => "Prénom", :type => "text"}/

        .form-group
          %input.form-control{:placeholder => "Email", :type => "email"}/

        .form-group
          %textarea.form-control{:placeholder => "Message", :rows => "3"}

        %a.btn.btn-link.btn-bv{:href => "/"} Envoyer

    .col-md-3

  .row

    .col-md-5.offset-md-5

      .informations

        %p
          %img.float-left{:src => image_path('map.svg')}/
          %span 40- 47/1, Hasib Pee Road, Patong, Kathu, Phuket, 83000 Plage de Patong
        %p
          %img.float-left{:src => image_path('envelope.svg')}/
          %a{:href => "mailto:richard.rigault@gmail.com"} richard.rigault@gmail.com

    .col-md-2
