.col-md-auto.nav-sticky.d-none.d-lg-block
  %ul.list-unstyled
    %li
      %a{"datascroll" => "", :href => "#Localisation"}
        01
        %span La localisation


    %li
      %a{"datascroll" => "", :href => "#Villa"}
        02
        %span La villa


    %li
      %a{"datascroll" => "", :href => "#InsideVilla"}
        03
        %span À l'intérieur

    %li
      %a{"datascroll" => "", :href => "#Services"}
        04
        %span Les services

    %li
      %a{"datascroll" => "", :href => "#Price"}
        05
        %span Le prix
