.container
  .row
    .col

      %h1.my-5.text-center Galerie

      .row-gallery.gallery
        .column
          %a{:href => image_path('gallery/image-1.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-1.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-2.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-2.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-3.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-3.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-4.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-4.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-5.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-5.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-6.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-6.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-7.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-7.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-8.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-8.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-9.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-9.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-10.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-10.jpg'), :alt => ""}/
        .column
          %a{:href => image_path('gallery/image-11.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-11.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-12.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-12.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-13.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-13.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-14.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-14.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-15.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-15.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-16.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-16.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-17.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-17.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-18.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-18.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-19.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-19.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-20.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-20.jpg'), :alt => ""}/
        .column
          %a{:href => image_path('gallery/image-21.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-21.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-22.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-22.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-23.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-23.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-24.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-24.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-25.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-25.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-26.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-26.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-27.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-27.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-28.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-28.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-29.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-29.jpg'), :alt => ""}/
        .column
          %a{:href => image_path('gallery/image-30.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-30.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-31.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-31.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-32.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-32.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-33.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-33.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-34.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-34.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-35.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-35.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-36.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-36.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-37.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-37.jpg'), :alt => ""}/
          %a{:href => image_path('gallery/image-38.jpg')}
            %img.img-fluid{:src => image_path('gallery/image-38.jpg'), :alt => ""}/

  = partial "partials/form.html"
